<div class="section bg-gradient">
    <div class="container">
        <div class="call-to-action">
            <div class="box-icon"><span class="ti-mobile gradient-fill ti-3x"></span></div>
            <h2>Use Anywhere</h2>
            <p class="tagline">
                Available for all major mobile and desktop platforms, anywhere you have a browser.
            </p>
            <a href="https://app.doctorvolleyball.com" class="btn btn-light btn-outline-light my-3"
                >Try Now!</a
            >
            <!-- <div class="my-4">
                <a href="#" class="btn btn-light"
                    ><img src="images/appleicon.png" alt="icon" /> App Store</a
                >
                <a href="#" class="btn btn-light"
                    ><img src="images/playicon.png" alt="icon" /> Google play</a
                >
            </div>
            <p class="text-primary">
                <small><i>*Works on iOS 10.0.5+, Android Kitkat and above. </i></small>
            </p> -->
        </div>
    </div>
</div>
<!-- // end .section -->
