<div class="light-bg py-5" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left">
                <p class="mb-2"><span class="ti-location-pin mr-2"></span>Toronto, Canada</p>
                <div class=" d-block d-sm-inline-block">
                    <p class="mb-2">
                        <span class="ti-email mr-2"></span>
                        <a class="mr-4" href="mailto:info@doctorvolleyball.com"
                            >info@doctorvolleyball.com</a
                        >
                    </p>
                </div>
            </div>
            <!-- <div class="col-lg-6">
                <div class="social-icons">
                    <a href="#"><span class="ti-facebook"></span></a>
                    <a href="#"><span class="ti-twitter-alt"></span></a>
                    <a href="#"><span class="ti-instagram"></span></a>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- // end .section -->
