<div class="section light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 d-flex align-items-center">
                <ul class="list-unstyled ui-steps">
                    <li class="media">
                        <div class="circle-icon mr-4">1</div>
                        <div class="media-body">
                            <h5>Create an Account</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                                rutrum, urna eu pellentesque pretium obcaecati vel exercitationem
                            </p>
                        </div>
                    </li>
                    <li class="media my-4">
                        <div class="circle-icon mr-4">2</div>
                        <div class="media-body">
                            <h5>Share with friends</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                                rutrum, urna eu pellentesque pretium obcaecati vel exercitationem
                                eveniet
                            </p>
                        </div>
                    </li>
                    <li class="media">
                        <div class="circle-icon mr-4">3</div>
                        <div class="media-body">
                            <h5>Enjoy your life</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                                rutrum, urna eu pellentesque pretium obcaecati vel exercitationem
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <img src="images/iphonex.png" alt="iphone" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
<!-- // end .section -->
