<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <div class="box-icon"><span class="ti-mobile gradient-fill ti-3x"></span></div>
                <h2>Discover Doctor Volleyball</h2>
                <p class="mb-4">
                    Doctor Volleyball was founded in May 2018 by a volleyball coach who wanted an
                    easier way to take stats. Read more about it on his blog
                </p>
                <a href="https://robertsonmcclure.ca/tag/doctorvolleyball/" class="btn btn-primary"
                    >Go To Blog</a
                >
            </div>
        </div>
        <div class="perspective-phone">
            <img src="images/perspective.png" alt="perspective phone" class="img-fluid" />
        </div>
    </div>
</div>
<!-- // end .section -->
