<div class="section light-bg">
    <div class="container">
        <div class="section-title">
            <small>FEATURES</small>
            <h3>Do more with Doctor Volleyball</h3>
        </div>

        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#communication">Record</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#schedule">Distribute</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#messages">Analyse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#livechat">Available</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="communication">
                <div class="d-flex flex-column flex-lg-row">
                    <img
                        src="images/graphic.png"
                        alt="graphic"
                        class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0"
                    />
                    <div>
                        <h2>Record stats with ease</h2>
                        <p class="lead">Use a keyboard, or a touch screen to record stats.</p>
                        <p>
                            Doctor Volleyball lets you record stats in two different ways. You can
                            use the touch interface on a tablet or you can type the codes.
                        </p>
                        <p>
                            The touch interface is designed to be easy and quick to use, so you
                            don't have to look down at the screen often.
                        </p>
                        <p>
                            The typing interface was created so you never had to look down at a
                            screen. This allows you to keep your eyes on the rally the entire time.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="schedule">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <h2>Distribute with everyone</h2>
                        <p class="lead">
                            Have your athletes or assistant coaches sign up to see your team's
                            stats.
                        </p>
                        <p>
                            Every member of your team can (and should) create an account and join
                            your team. They will have access to all the stats you record the second
                            you record them (if you have an internet connection).
                        </p>
                    </div>
                    <img
                        src="images/graphic.png"
                        alt="graphic"
                        class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0"
                    />
                </div>
            </div>
            <div class="tab-pane fade" id="messages">
                <div class="d-flex flex-column flex-lg-row">
                    <img
                        src="images/graphic.png"
                        alt="graphic"
                        class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0"
                    />
                    <div>
                        <h2>Analyse your performance</h2>
                        <p class="lead">View your stats in a variety of different ways</p>
                        <p>
                            You can see your team's performance on the season to date, or on a
                            select subset of the game that you have played.
                        </p>
                        <p>
                            Every match provides a breakdown by athlete, by set, and by position
                            (what position the setter was on the court when that action happened).
                        </p>
                        <p>
                            Every athlete on your team has their own page (that anyone can see)
                            where their stats are on display along with how they are trending over
                            time.
                        </p>
                        <p>
                            You can optionally record stats on your opponents as you play them, and
                            analyze your opponents stats in the exact same manner as your own.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="livechat">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <h2>Available anywhere</h2>
                        <p class="lead">
                            Built with the latest web technologies, Doctor Volleyball is available
                            on every device.
                        </p>
                        <p>
                            Even though it is a humble website, DrVB can be added to the home screen
                            of both iOS and Android devices and fully mimics a native application.
                        </p>
                        <p>
                            Any device you own that has access to the internet: has access to Doctor
                            Volleyball.
                        </p>
                    </div>
                    <img
                        src="images/graphic.png"
                        alt="graphic"
                        class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // end .section -->
