<div class="section light-bg" id="features">
    <div class="container">
        <div class="section-title">
            <small>HIGHLIGHTS</small>
            <h3>Features you love</h3>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                            <div class="media-body">
                                <h4 class="card-title">Offline</h4>
                                <p class="card-text">
                                    No internet connection is needed! Use it anywhere and the data
                                    will sync next time you get a connection.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span class="ti-cloud gradient-fill ti-3x mr-3"></span>
                            <div class="media-body">
                                <h4 class="card-title">Cloud</h4>
                                <p class="card-text">
                                    All your data is securely stored in the cloud. Access it on any
                                    device, anywhere.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span class="ti-thumb-up gradient-fill ti-3x mr-3"></span>
                            <div class="media-body">
                                <h4 class="card-title">Simple</h4>
                                <p class="card-text">
                                    The user experienced is intuitive and easy to use. No more long
                                    training sessions!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // end .section -->
