<div class="section" id="testimonials">
    <div class="container">
        <div class="section-title">
            <small>TESTIMONIALS</small>
            <h3>What our Customers are Saying</h3>
        </div>

        <div class="testimonials owl-carousel">
            <div class="testimonials-single">
                <img src="images/robertson.jpg" alt="client" class="client-img" />
                <blockquote class="blockquote">
                    We used to take stats on clipboards and it was impossible to identify trends
                    across games. Now with Doctor Volleyball we can see if what we are doing as a
                    coaching staff over the season is paying off.
                </blockquote>
                <h5 class="mt-4 mb-2">Robertson McClure</h5>
                <p class="text-primary">UofT Men's Volleyball</p>
            </div>
        </div>
    </div>
</div>
<!-- // end .section -->
